body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
.orange-color{
    color: orange;
}
.flexible-container{
    display: flex;
    margin-bottom: 50px;
    

}
.half-width{
    width: 50%;
     padding: 5%;
}
.half-width img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    font-weight: 550;
    padding: 10px 30px;
    border-radius: 20px
}
.about-me{
    background-image: url(7.png);
    background-repeat: no-repeat;
}
.my-racipies{
    text-align: center;
}
.recipie-item{
    width: 70%;
    margin-left: 2%;
    margin-right: 2%;
    padding:3%;
    box-shadow: 5px 5px 20px rgb(179, 157, 157);
    border-radius: 10%;
}
.recipie-item img{
   width: 100%;
} 
.most-popular{
    display:flex;
    flex-direction: row;
    position: relative;
    left: 30%;
    top: 10%;
    width: 600px;
    height: 250px;
    justify-content: space-between;
    margin-bottom: 50px;


}
footer{
    text-align: center; 
    background-color: black; 
    color: white;
    font-weight: 300;
    padding: 10px 30px;
}
.orange-color{
    color: orange;
}
.white-color{
    color:rgba(172, 158, 158, 0.719);
}
#for-image{
    height:535px ;
}